.landing{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

body{
    box-shadow: grey;
    font-family: 'Montserrat', sans-serif;
}

.distortion{
    width: 640px;
    height: 920px;
    display: flex;
    align-self: flex-end;
}

.intro{
    align-self: center;
}

.intro h2{
    font-size: 50px;
}

.intro p{
    font-size: 25px;
}

a{
    color: black;
    font-weight: 600;
}

span{
    font-weight: 525;
    font-size: 35px;
}